# replace with domain
:80 {
  redir /api /api/
  redir /admin /admin/

  handle /api/* {
    reverse_proxy pocketbase:8090
  }

  handle_path /admin/* {
    # I dont think it needs an extra slash
    rewrite * /_{path}?{query}
    reverse_proxy pocketbase:8090
  }

  handle {
    reverse_proxy website:5173
  }
}
